footer {
    margin-top: 6rem;
    border-top: 1px solid grey;
    /* height: 250px; */
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;

    @media screen and (min-width: 768px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer > * {
    padding: 2rem;
}
