.post {
    padding: 20px;
    border-bottom: #333 1px solid;
    margin: 10px;

    .post__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .post__title {
        font-size: 1.5em;
        margin: 0;
        display: inline-block;

        a {
            color: #333;
            text-decoration: none;
        }

        a:visited {
            color: #333;
        }
    }

    .post__date {
        font-size: 0.8em;
        color: #666;
    }
}

.comments {
    padding: 20px;
    margin: 10px;

    .comment {
        a {
            text-decoration: none;
        }

        .comment__header {
            display: flex;
            justify-content: space-between;
        }
    }
}

.date {
    font-size: 0.8em;
    color: #666;
}
