<div class="content">
  <!-- wp:template-part {"slug":"header","tagName":"header","id":"header","className":"transparent-header"} /-->

  <!-- wp:pattern {"slug":"iltheme/carousel"} /-->

  <!-- wp:pattern {"slug":"iltheme/highlights"} /-->

  <!-- wp:iltheme/categories /-->

  <div class="box posts">
    <div class="box posts">
      <div class="wp-block-query">
        <!-- Posts will be loaded here by JavaScript -->
      </div>
      <div class="wp-block-query-pagination">
        <!-- Pagination links will be loaded here by JavaScript -->
      </div>
    </div>
  </div>

  <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
