<div class="content">
  <!-- wp:template-part {"slug":"header","tagName":"header","id":"header","className":"transparent-header"} /-->

  <!-- wp:iltheme/coverimage /-->

  <div id="posts" class="box no-fade top-margin posts">
    <article class="wp-block-post post">
      <section class="post__header">
        <!-- wp:post-title {"isLink":true, "className": "post__title"} /-->
        <!-- wp:post-date { "className": "date" } /-->
      </section>
      <!-- wp:post-content { "className": "post__text" } /-->

      <div class="wp-block-comments comments">
        <!-- wp:pattern {"slug":"iltheme/comments"} /-->
      </div>
    </article>
  </div>

  <!-- wp:pattern {"slug":"iltheme/previous-posts"} /-->
  <div id="previous" class="box no-fade posts"></div>

  <div id="loader" class="loader" style="display: none"></div>

  <div id="load-more-trigger"></div>

  <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
